@using Newtonsoft.Json
@model List<WebServer.Controllers.ServicesController.OrderParams>

@{
    if (ViewData["roleName"] == null)
    {
        Layout = "_UserLayout";
    }
    else
    {
        switch (ViewData["roleName"].ToString().ToLower())
        {
            case "администратор":
                {
                    Layout = "_AdminLayout";
                    break;
                }

            case "управляющий":
                {
                    Layout = "_ManagerLayout";
                    break;
                }

            default:
                {
                    Layout = "_UserLayout";
                    break;
                }
        }
    }
}

@section Scripts {
    <script type="text/javascript" src="/js/setlogin.js"></script>
    <script type="text/javascript" src="/js/Basket.js"></script>
}

<script type="text/javascript">
    window.login = @Html.Raw(JsonConvert.SerializeObject(ViewData["login"]));
    window.ordersCount = @Html.Raw(JsonConvert.SerializeObject(Model.Count));
</script>

<!DOCTYPE html>

<html>
<head>
    <title>Корзина</title>
    <link href="/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>

        @for (var i = 0; i < Model.Count; i++)
        {
            <div id="row@i" class="row">

                @for (var j = 0; j < (int)ViewData["columns"]; j++)
                {
                    if (i * (int)ViewData["columns"] + j >= Model.Count)
                    {
                        if (Model.Count % 2 != 0)
                        {
                            <div class="row">
                            </div>
                        }
                        return;
                    }
                    <div id="column@(i * (int)ViewData["columns"] + j)" class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <img src="@Model[i * (int)ViewData["columns"] + j].ImgSrc" data-src="holder.js/600x300"
                                 alt=@Model[i * (int)ViewData["columns"] + j].ImgSrc>

                            <div class="caption">

                                <h3>@Model[i * (int)ViewData["columns"] + j].ServiceName</h3>

                                <p>
                                    @Model[i * (int)ViewData["columns"] + j].Cost руб.
                                </p>

                                <p>
                                    @Model[i * (int)ViewData["columns"] + j].Units
                                    @Model[i * (int)ViewData["columns"] + j].Measurement
                                </p>

                                @if (ViewData["role"] != null && ViewData["role"].ToString().ToLower() == "клиент")
                                {
                                    <button type="button" id="confim@(i * (int)ViewData["columns"] + j)"
                                            data-id="@Model[i * (int)ViewData["columns"] + j].Id"
                                            data-columnid="column@(i * (int)ViewData["columns"] + j)"
                                            class="btn btn-success">
                                        Оплатить
                                    </button>

                                    <button type="button" id="deny@(i * (int)ViewData["columns"] + j)"
                                            data-id="@Model[i * (int)ViewData["columns"] + j].Id"
                                            data-columnid="column@(i * (int)ViewData["columns"] + j)"
                                            class="btn btn-danger">
                                        Отменить
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</body>
</html>